body {
  margin: 0;
  padding: 0;
}

nav {
  background: #28D0DC;
  padding: 10px;
  box-shadow: 0 5px 50px 5px rgba(200, 200, 200, 0.75);;
}

nav li {
  display: inline-block;
  margin: 5px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul ul {
  display: none;
  position: absolute;
  height: 500px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

.dashboard nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #eaeaea;
}

.dashboard li a:hover {
  color: white;
  padding-bottom: 13px;
  border-bottom: 2px solid white;
}

.right-nav-box {
  position: absolute;
  right: 10px;
  top: 4px;
}

#logout {
  cursor: pointer;
}


