body {
  margin: 0;
  padding: 0;
}

nav {
  background: #28D0DC;
  padding: 10px;
}

nav li {
  display: inline-block;
  margin: 5px;
}

nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #eaeaea;
}

li a:hover {
  color: white;
  padding-bottom: 13px;
  border-bottom: 2px solid white;
}

.right-nav-box {
  position: absolute;
  right: 10px;
  top: 10px;
}

#logout {
  cursor: pointer;
}
