body {
  margin: 0;
  padding: 0;
}

nav {
  background: #3CC;
  padding: 10px;
  box-shadow: 0 5px 50px 5px rgba(200, 200, 200, 0.75);;
}

nav li {
  display: inline-block;
  margin: 5px;
}

.dashboard nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #eaeaea;
}

.dashboard li a:hover {
  color: white;
  padding-bottom: 13px;
  border-bottom: 2px solid white;
}

.right-nav-box {
  position: absolute;
  right: 10px;
  top: 4px;
}

#logout {
  cursor: pointer;
}
