@font-face {
  font-family: 'Open Sans';
  src: url('/font/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Fontello';
  src: url('/font/cart.ttf');
}

i {
  font-family: 'Fontello';
  font-style: normal;
}

/*
800 - black trash
801 - white trash
802 - export
803 - share
804 - small x
805 - plus
806 - edit
807 - big X
*/

#edit-icon {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f7f9fa;
  color: black;
  font-family: 'Open Sans';
}

.project-box {
  display: inline-block;
  width: 200px;
  /*background: #eaeaea;*/
  margin: 10px;
  vertical-align: top;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.sidebar {
  background: #4CDAE4;
  height: 100%;
  width: 100px;
  position: absolute;
  left: 0;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0;
  margin: 0;
}

tr:nth-child(odd) {
  background: rgba(253, 253, 253, 1);
  width: 100%;
  padding: 0;
  margin: 0;
}

tr:nth-child(1) {
  background: #68E5EF;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

td {
  /*border: 3px solid rgba(0, 0, 0, 0.5);*/
  /*border: solid 15px rgba(255,255,255,0.0);*/
  /*background: rgba(255, 255, 255, 1);*/
  padding: 10px;
  width: 100%;
  margin: 0;
  /*width: calc(100%/tr.length);*/
}

table {
  display: inline-block;
}

.todo-list, .completed-list {
  width: 40%;
  margin: auto;
  margin: 20px;
}
