<!-- {{projectsCtrl.test}} -->

<form ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
  <h3>Add Project</h3>
  <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
  <button>Add</button>
</form>

  <li class="project-box" ng-repeat="project in projectsCtrl.projects" ng-click="projectsCtrl.thisProject(project, $index)">

    <table>
      <tr>
        <td>{{project.name}}</td>
      </tr>
      <tr ng-repeat="blah in project.tasks">
        <td>{{blah.name}}</td>
      </tr>
    </table>

    <!-- <h3>{{project.name}}</h3>
    <p ng-repeat="blah in project.tasks">{{blah.name}}</p> -->
    <button ng-click="viewProject = !viewProject">View</button>
    <div ng-show="viewProject">
      <form ng-submit="projectsCtrl.updateProject(project)">
        <input type="text" ng-model="project.name"><br>
        <button>Update</button>
      </form>
      <button ng-click="projectsCtrl.deleteProject(project)">Delete</button>

      <tasks-directive></tasks-directive>

    </div>
  </li>

  <!-- <tasks-directive></tasks-directive> -->


<!-- <button ng-click="addProject = !addProject">Add Project</button>

<form ng-if="addProject" ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
  <h3>Add Project</h3>
  <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
  <button>Add</button>
</form> -->
