{{projectsCtrl.test}}

<form ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
  <h3>Add Project</h3>
  <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
  <button>Add</button>
</form>





<ul>
  <li ng-repeat="project in projectsCtrl.projects" ng-click="projectsCtrl.thisProject(project, $index)">
    <span>{{project.name}}</span>
    <button ng-click="editProject = !editProject">Edit</button>
    <div ng-show="editProject">
      <form ng-submit="projectsCtrl.updateProject(project)">
        <input type="text" ng-model="project.name"><br>
        <button>Update</button>
      </form>
      <button ng-click="projectsCtrl.deleteProject(project)">Delete</button>

      <tasks-directive></tasks-directive>

    </div>
  </li>
</ul>

<button ng-click="addProject = !addProject">Add Project</button>

<!-- <form ng-if="addProject" ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
  <h3>Add Project</h3>
  <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
  <button>Add</button>
</form> -->
