<br><br>
<hr>
{{taskCtrl.test}}

<h2>{{taskCtrl.project.name}}</h2>

<b ng-click="taskCtrl.getTasks()"> Tasks: </b>

<ul ng-repeat="task in taskCtrl.project.tasks">
	<li>{{task.name}}</li>
	<button ng-click="taskCtrl.deleteTask(task)">Delete</button>


	<b>Update:</b><br>


	<form ng-submit="taskCtrl.updateTask(task)">
    	<input type="text" ng-model="task.name">
        <button>Update</button>
     </form>

</ul>


<h2>Add task</h2>
<form ng-submit="taskCtrl.addTask()">
	<input type="text" ng-model="taskCtrl.newTask.name">
</form>