<link rel="stylesheet" href="/css/animations.css" media="screen" title="no title" charset="utf-8">

<div ng-if="!mainCtrl.isAuthenticated">

  <div class="auth-page col-md-6">
    <div id="logbox">
      <form id="signup" ng-controller="LoginController as loginCtrl" ng-submit="loginCtrl.login()">
      <h1>account login</h1>
      <input name="username" type="text" placeholder="enter your username" class="input pass" ng-model="loginCtrl.credentials.username"/>
      <input name="password" type="password" placeholder="enter your password" required="required" class="input pass" ng-model="loginCtrl.credentials.password"/>
      <input type="submit" value="Sign me in!" class="inputButton"/>
      <div class="text-center">
        new? <a href="/signup" id="">create an account</a>
      </div>
      </form>
  </div>

</div>
