<h2>{{mainCtrl.user.username}}'s PROFILE</h2>

<!-- DISPLAY USER INFO -->
<table id="user-info">
	<tr>
		<td colspan="2">{{mainCtrl.user.username}}'s Info</td>
	</tr>

	<tr>
		<td class="label"><b>Username:</b></td>
		<td class="data">{{mainCtrl.user.username}}</td>
	</tr>

	<tr>
		<td class="label"><b>Name:</b></td>
		<td class="data">{{mainCtrl.user.first_name}} {{mainCtrl.user.last_name}}</td>
	</tr>

	<tr>
		<td class="label"><b>E-mail:</b></td>
		<td class="data">{{mainCtrl.user.email}}</td>
	</tr>

	<tr>
		<td class="label"><b>Projects:</b></td>
		<td class="data">
			<span ng-repeat="project in mainCtrl.user.projects">
				{{project.name}}{{$last ? '' : ', '}}
			</span>

		</td>
	</tr>

</table>

<!-- DISPLAY USER ACTIVITIES -->
<table id="activity-log">
	<tr>
		<td>Latest Activity</td>
	</tr>

	<tr ng-repeat="activity in statsCtrl.userActivityArray | orderBy: '-date' | limitTo: 5">

		<td>{{mainCtrl.user.username}} {{activity.message}} on {{activity.date | date: 'M/dd/yy' : timezone}} at {{activity.date | date: 'h:mm a' : timezone}} </td>

	</tr>

</table>


<!-- SCRAP CODE -->


<!-- <section id="user-info">

	<table id="info-table">
		<tr class="top">
			<td colspan="2">{{mainCtrl.user.username}}'s INFO</td>
		</tr>

		<tr>
			<td class="label"><b>Username:</b></td>
			<td class="data">{{mainCtrl.user.username}}</td>
		</tr>

		<tr>
			<td class="label"><b>Name:</b></td>
			<td class="data">{{mainCtrl.user.first_name}} {{mainCtrl.user.last_name}}</td>
		</tr>

		<tr>
			<td class="label"><b>E-mail:</b></td>
			<td class="data">{{mainCtrl.user.email}}</td>
		</tr>

	</table>
</section> -->


<!-- 	<p>Latest Activity:</p>
	<p ng-repeat="activity in statsCtrl.userActivityArray | orderBy: '-date' | limitTo: 5">
	{{mainCtrl.user.username}} {{activity.message}} on {{activity.date | date: 'short' : timezone}}
	</p> -->



<!-- <section id="activity-log">
	<p>Latest Activity:</p>
	<p ng-repeat="activity in statsCtrl.userActivityArray | orderBy: '-date' | limitTo: 5">
	{{mainCtrl.user.username}} {{activity.message}} on {{activity.date | date: 'short' : timezone}}
	</p>
</section> -->
