<div ng-if="!projectsCtrl.hideProjects">

  <h2>{{mainCtrl.user.username}}'s PROJECTS</h2>

  <!-- Search Project searchbox -->
  Search: <input type="search" class="search-query" placeholder="Search Projects" ng-model="searchProject"><br>
  Search: <input type="search" class="search-query" placeholder="Search Tasks" ng-model="searchTasks"><br>

  <div class="addProjectForm">
    <h3 ng-if="!addProjectForm">Add Project</h3>
    <form ng-if="addProjectForm" ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
      <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
      <button>Add</button>
    </form>
    <i id="add-icon" ng-click="addProjectForm = !addProjectForm">&#xE805;</i><br>
  </div>

  <!-- filter Search Project -->
  <div class="project-box" ng-repeat="project in projectsCtrl.projects | filter: searchProject | orderBy: 'name'">
    <!-- <table ng-click="projectsCtrl.thisProject(project, $index)"> -->
    <table>
      <tr>
        <!-- PROJECT TITLE -->
        <td id="project-title">
          <span ng-if="!showUpdate">{{project.name}} </span>
          <form ng-if="showUpdate" ng-submit="projectsCtrl.updateProject(project)">
            <input type="text" ng-model="project.name">
          </form>
          <i id="edit-icon" ng-click="showUpdate = !showUpdate">&#xE806;</i>
        </td>
      </tr>

      <!-- PROJECT TASKS -->
      <tr ng-repeat="blah in project.tasks | filter: searchTasks | orderBy: 'name' | limitTo: 3">
        <td>{{blah.name}}</td>
      </tr>

      <tr>
        <td>
          <a ng-href="projects/{{project._id}}"><button class="proj-button">View Project</button></a>
          <button ng-click="projectsCtrl.deleteProject(project)" class="proj-button">Delete Project</button>
        </td>
      </tr>
      
    </table>

    <!-- <a ng-href="projects/{{project._id}}"><button class="proj-button">View Project</button></a> -->


    <!-- <button ng-click="projectsCtrl.thisProject(project, $index)">View Project</button> -->
    <!-- <button ng-click="projectsCtrl.deleteProject(project)" class="proj-button">Delete Project</button> -->
  </div>

    <!-- <button ng-click="projectsCtrl.deleteProject(project)">Delete Project</button><br><br> -->

    <!-- <button ng-click="viewProject = !viewProject">View Project</button> -->

  <!-- </li> -->

</div>

<div ng-show="projectsCtrl.hideProjects" ng-include=" 'partials/user_project.html' "></div>

<!-- <button ng-click="addProject = !addProject">Add Project</button>

<form ng-if="addProject" ng-submit="projectsCtrl.addProject(projectsCtrl.newProject)">
  <h3>Add Project</h3>
  <input type="text" placeholder="Project Name" ng-model="projectsCtrl.newProject.name">
  <button>Add</button>
</form> -->
