<!-- TO-DO LIST -->

<h2>{{taskCtrl.project.name}} Tasks</h2>

Search: <input type="search" class="search-query" placeholder="Search Tasks" ng-model="searchTask"><br>

<div class="addTaskForm">
  <h3 ng-if="!addTaskForm">Add Task</h3>
  <form ng-if="addTaskForm" ng-submit="taskCtrl.addTask()">
   <input type="text" placeholder="Task Name" ng-model="taskCtrl.newTask.name">
   <button>Add Task</button>
  </form>
  <i id="add-icon" ng-click="addTaskForm = !addTaskForm">&#xE805;</i>
</div>


<!-- REMAINING TASKS -->

<table class="todo-list">
	<tr>
		<td>To Do</td>
	</tr>

	<!-- show placeholder if filtered length is equal to 0 AND there are no tasks in the project -->
	<tr ng-if="(taskCtrl.projTasks | filter: {completed: 'false'}).length === 0 && taskCtrl.projTasks.length === 0">
		<td>
			<em>Create a task.</em>
		</td>
	</tr>

	<!-- show placeholder if filtered length is equal to 0 AND user has completed all tasks in the project -->
	<tr ng-if="(taskCtrl.projTasks | filter: {completed: 'false'}).length === 0 && taskCtrl.projTasks.length > 0">
		<td>
			<em>All done!</em>
		</td>
	</tr>

	<tr ng-repeat="task in taskCtrl.projTasks | filter: {completed: 'false'} | orderBy: 'name'">

		<td>

			<input type="checkbox" ng-model="task.completed" ng-change="taskCtrl.updateTask(task)">
			<span ng-if="!updateTask">{{task.name}}</span>

			<form ng-if="updateTask" ng-submit="taskCtrl.updateTask(task)">
				<input type="text" ng-model="task.name">
			</form>

			<i id="edit-icon" ng-click="updateTask = !updateTask">&#xE806;</i>
			<i ng-if="updateTask" ng-click="taskCtrl.deleteTask(task)">&#xE800;</i>

		</td>

	</tr>

</table>





<!-- COMPLETED TASKS -->
<table class="completed-list">

	<tr>
		<td>Completed</td>
	</tr>

	<!-- show placeholder if filtered length is equal to 0 -->
	<tr ng-if="(taskCtrl.projTasks | filter: {completed: 'true'}).length === 0">
		<td>
			<em>Empty</em>
		</td>
	</tr>

	<!-- display completed tasks -->
	<tr ng-repeat="task in taskCtrl.projTasks | filter: {completed: 'true'} | orderBy: 'name'">

		<!-- show task -->
		<td>
			<span>{{task.name}} <span><i id="undo-icon" ng-click="taskCtrl.undoComplete(task)">&#xE808;</i>
		</td>

	</tr>

</table>
