<!-- TO-DO LIST -->

<h2>{{taskCtrl.project.name}} Tasks</h2>

Search: <input type="search" class="search-query" placeholder="Search Tasks" ng-model="searchTask"><br>

<!-- Add Task Form -->
<div class="addTaskForm">

  <h3 ng-if="!addTaskForm">Add Task</h3>
  <form ng-if="addTaskForm" ng-submit="taskCtrl.addTask()">
    <input type="text" placeholder="Task Name" ng-model="taskCtrl.newTask.name">
    <button>Add Task</button>
  </form>
  <i id="add-icon" ng-click="addTaskForm = !addTaskForm">&#xE805;</i>

</div>

<!-- To-Do List -->
<table class="todo-list">

	<tr>
		<td>To Do</td>
	</tr>

	<tr ng-repeat="task in taskCtrl.projTasks | filter: searchTask | orderBy: 'name'">
		<td ng-if="!task.completed">
			<input type="checkbox" ng-model="task.completed" ng-change="taskCtrl.updateTask(task)">
			<span ng-if="!updateTask">{{task.name}}</span>
			<form ng-if="updateTask" ng-submit="taskCtrl.updateTask(task)">
				<input type="text" ng-model="task.name">
			</form>
			<i id="edit-icon" ng-click="updateTask = !updateTask">&#xE806;</i>
			<i ng-if="updateTask" ng-click="taskCtrl.deleteTask(task)">&#xE800;</i>
		</td>
	</tr>

</table>

<!-- Completed List -->
<table class="completed-list">

	<tr>
		<td>Completed</td>
	</tr>

	<tr ng-repeat="task in taskCtrl.projTasks | orderBy: 'name'">
		<td ng-if="task.completed">
			<!-- show if the task is completed -->
			<span>{{task.name}} <span><i id="undo-icon" ng-click="taskCtrl.undoComplete(task)">&#xE808;</i>
		</td>
	</tr>

</table>
